<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function sendJSON() {
            let user_id_key = document.querySelector('#user_id_key').value;
            let user_id_value = document.querySelector('#user_id_value').value;
            let order_info_key = document.querySelector('#order_info_key').value;
            let order_info_value = document.querySelector('#order_info_value').value;
            let xhr = new XMLHttpRequest();
            let url = "{% url 'get_order'%}";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            const data = JSON.stringify({[user_id_key]: user_id_value, [order_info_key]: order_info_value});
            xhr.send(data);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.body.innerHTML = this.response;
                };
            };
        }
    </script>
    <style>
        div {
            border-style: inset;
            width: 400px;
            margin: auto;
            padding: 10px;
        }
        form, button {
            margin: 20px;
        }
    </style>
</head>
<body>
<div>
    <p>
        <a href="{% url 'get_orders' %}">
            <button>GET /orders</button>
        </a>
    </p>
</div>

<div>
    <p>
        <input type="text" id="user_id_key" value="user_id">
        <input type="text" id="user_id_value" value="1">
    </p>
    <p>
        <input type="text" id="order_info_key" value="order_info">
        <input type="text" id="order_info_value" value="Заказ 10">
    </p>
    <button onclick="sendJSON()">POST /order (JSON)</button>
</div>

<div>
    <form method="get" action="{% url 'get_order' %}">
        <p><label>N=</label><input type="text" name="order_id" value="1"></p>
        <button type="submit">GET /order?order_id=N</button>
    </form>
</div>

</body>
</html>